@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* for body */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');/*for navbar a*/

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-transform: capitalize;

}
body{
    background-color: rgba(128, 128, 128, 0.095) !important;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}
.navbar{
    width:100%;
    margin: auto;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 70px;
    top: 0%;
    position: fixed;
}
.navbar a{
    font-size: 50px;
    font-weight: 700;
    color: teal !important;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:teal!important;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.select1{
    background-color: rgba(0, 0, 0, 0.811);
    color:white;
    border-radius: 95px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-left: 42%;
    margin-top: 5%;
    padding: 5px;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
}
.select1:hover{
    background-color: white;
    color:rgba(0, 0, 0, 0.811);
    transition: 0.6s;
}