.profile{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 29%;
    background-color: white;
    width: 40%;
    border-radius: 10px;
    padding: 15px;
}
.profile .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .logo img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
}
.profile .inform{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;

}
.profile .inform2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10%;
    margin-top: 5px;
}
.profile .inform3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 7%;
    margin-top: 5px;
}
.profile .ab{
    display: flex;
    flex-direction: column;
}
.profile .ab h3{
    margin-left: 10%;
    margin-top: 5px;
}
.profile a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: teal;
    font-size: 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;

}
.profile a:hover{
    background-color: rgba(0, 128, 128, 0.742);

}